<section class="pt-5 mt-5">
    <div class="container pt-4 pt-xl-5">
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                <div style="max-width: 350px;">
                    <h1 class="display-5 fw-bold mb-4">Discover Who We Are and What Drives Us&nbsp;<span class="underline">Forward</span>.</h1>
                    <p class="text-muted my-4">At our core, we are a team dedicated to providing innovative solutions that empower individuals and businesses alike. Our mission is to create tools that simplify tasks and enhance productivity.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="/images/assets/img/illustrations/startup.svg"></div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container py-5">
        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
            <div class="col mb-5"><img class="rounded img-fluid" src="/images/assets/img/illustrations/data-management.svg"></div>
            <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                <div>
                    <h5 class="fs-3 fw-bold mb-4">Our Vision</h5>
                    <p class="text-muted mb-4">We envision a world where technology and human ingenuity converge to unlock limitless potential. We strive to lead through innovation and a commitment to excellence.</p>
                </div>
            </div>
        </div>
    </div>
</section>